---
layout: layout.liquid
title: Name-Generator
---
<div x-data="{ 
name : 'Press Button for Random Name', 
RandomName() { const Names = ['Renata', 'Sizwe', 'Bijay', 'Saam', 'Spomenka', 'Rudesindus', 'Clotidle', 'Hapi', 'Samra'];
this.name = Names[Math.floor(Math.random() * 9)];},
}">
	<h2>Press this button to generate a random name</h2>
	<div @RandInt="RandomInt()"><button type="button" @click="RandomName">Press</button></div>
	<h1><Strong x-text="name">Test</Strong></h1>
</div>